* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*Fonts*/

.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.inter-reg {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

/*tekst*/

h1 {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Aboreto", system-ui;
  color: #350908;
  font-weight: 200;
}

h2 {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: #350908;
}

h3 {
  font-family: "Alice", serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: 200;
}

.omhtml h3 {
  font-size: 1.5rem;
}

.booktekst {
  text-align: center;
}

/*knap css*/

.blivdonorknap {
  background-color: #350908;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.knapgrid {
  display: flex;
}

/*img css*/
.logohead {
  width: 130%;
}

.mobileindex_wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 40px;
  margin-bottom: 50px;
}

.imgwrap {
  object-fit: cover;
  position: relative;
}

.index_blomst {
  width: 30%;
  z-index: 2;
  margin-right: -40px;
  transform: translateY(-15px);
}

.index_gravid {
  width: 40%;
  z-index: 1;
}

.mobilehoney {
  margin-bottom: 80px;
}

.satinimg {
  margin-top: 60px;
}

.logofooter {
  margin-top: 53px;
  margin-left: -3px;
  width: 70%;
}

/* grid - diverse*/
.linje {
  margin: 0 30px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/*burger*/

.imgburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}
.menu {
  display: none;
  list-style: none;
}

.burger {
  display: block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.3s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.3s linear;
}

nav.active .menu {
  display: block;
  background-color: #350908;
  position: absolute;
  top: 100px;
  left: 60px;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(255, 254, 254, 0.1);
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 70px;
}

nav.active .menu a {
  font-size: 24px;
  color: #f9f5f2;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  /*burger web*/

  nav {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 0 30px;
  }

  .menu a {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    width: 160px;
    text-align: center;
    padding: 7px 0;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
  }

  .menu a:hover {
    color: #7b2d24;
  }

  .burger {
    display: none;
  }
}
